**/.DS_Store
.idea/
.vs/
.vscode/
/build/
resources/gbc/
resources/nes/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
roms/
gbaroms/
debug/
deps/
resources/tests